<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="corona">

	<insert id="insertCorona" parameterType="HashMap">
		INSERT INTO TCORONA /* insertCorona as MainController */
		  (CITY,
		   DEF_CNT,
		   INC_DEC,
		   DEATH_CNT,
		   ISOL_ING_CNT,
		   ISOL_CLEAR_CNT,
		   OVER_FLOW_CNT,
		   LOCAL_OCC_CNT,
		   STD_DAY,
		   INSERT_DATE,
		   MODIFY_DATE)
		VALUES
		  (#{city, jdbcType=VARCHAR},
		   #{defCnt, jdbcType=NUMERIC},
		   #{incDec, jdbcType=NUMERIC},
		   #{deathCnt, jdbcType=NUMERIC},
		   #{isolIngCnt, jdbcType=NUMERIC},
		   #{isolClearCnt, jdbcType=NUMERIC},
		   #{overFlowCnt, jdbcType=NUMERIC},
		   #{localOccCnt, jdbcType=NUMERIC},
		   #{stdDay, jdbcType=VARCHAR},
		   SYSDATE,
		   SYSDATE)
	</insert>

	<select id="selectCorona" resultType="HashMap">
		SELECT  /* selectCorona as MainController */
		       A.CITY,
		       A.DEF_CNT,
		       A.INC_DEC,
		       A.DEATH_CNT,
		       A.ISOL_ING_CNT,
		       A.ISOL_CLEAR_CNT,
		       A.OVER_FLOW_CNT,
		       A.LOCAL_OCC_CNT,
		       A.STD_DAY,
		       A.OVER_FLOW_CNT + A.LOCAL_OCC_CNT AS INF_CNT,
               ROW_NUMBER() OVER (ORDER BY LOCAL_OCC_CNT) AS RANK
		  FROM TCORONA A
         WHERE TO_CHAR(A.INSERT_DATE, 'yyyymmddhh24mi') >= (SELECT TO_CHAR(MAX(B.INSERT_DATE - 1/24/60), 'yyyymmddhh24mi') FROM TCORONA B)
         GROUP BY A.CITY, A.DEF_CNT, A.INC_DEC, A.DEATH_CNT, A.ISOL_ING_CNT, A.ISOL_CLEAR_CNT, A.OVER_FLOW_CNT, A.LOCAL_OCC_CNT, A.STD_DAY
         ORDER BY RANK DESC
	</select>

	<select id="selectCoronaDate" resultType="HashMap" parameterType="String">
		SELECT /* selectCoronaDate as MainController */
		       CITY,
		       CASE WHEN GAP = 0 THEN TO_CHAR(GAP) WHEN GAP &lt; 0 THEN TO_CHAR(ABS(GAP)) || '▼' ELSE TO_CHAR(ABS(GAP)) || '▲' END AS DIFF_CNT,
		       DEF_CNT,
		       INC_DEC,
		       DEATH_CNT,
		       ISOL_ING_CNT,
		       ISOL_CLEAR_CNT,
		       OVER_FLOW_CNT,
		       LOCAL_OCC_CNT,
		       STD_DAY,
		       INF_CNT,
		       RANK
		  FROM (SELECT
		         (SELECT MAX(C.OVER_FLOW_CNT + C.LOCAL_OCC_CNT)
		            FROM TCORONA C
		           WHERE C.INSERT_DATE > TO_DATE(#{date, jdbcType=VARCHAR}, 'yyyymmdd')
		             AND C.INSERT_DATE &lt; TO_DATE(#{date, jdbcType=VARCHAR}, 'yyyymmdd') + 1) -
		         (SELECT MAX(B.OVER_FLOW_CNT + B.LOCAL_OCC_CNT)
		            FROM TCORONA B
		           WHERE B.INSERT_DATE > TO_DATE(#{date, jdbcType=VARCHAR}, 'yyyymmdd') - 1
		             AND B.INSERT_DATE &lt; TO_DATE(#{date, jdbcType=VARCHAR}, 'yyyymmdd')
		        ) AS GAP,
		         A.CITY,
		         A.DEF_CNT,
		         A.INC_DEC,
		         A.DEATH_CNT,
		         A.ISOL_ING_CNT,
		         A.ISOL_CLEAR_CNT,
		         A.OVER_FLOW_CNT,
		         A.LOCAL_OCC_CNT,
		         A.STD_DAY,
		         A.OVER_FLOW_CNT + A.LOCAL_OCC_CNT AS INF_CNT,
		         ROW_NUMBER() OVER(ORDER BY LOCAL_OCC_CNT) AS RANK
		          FROM TCORONA A
		         WHERE A.INSERT_DATE > TO_DATE(#{date, jdbcType=VARCHAR}, 'yyyymmdd')
		           AND A.INSERT_DATE &lt; TO_DATE(#{date, jdbcType=VARCHAR}, 'yyyymmdd') + 1
		         GROUP BY A.CITY,
		                  A.DEF_CNT,
		                  A.INC_DEC,
		                  A.DEATH_CNT,
		                  A.ISOL_ING_CNT,
		                  A.ISOL_CLEAR_CNT,
		                  A.OVER_FLOW_CNT,
		                  A.LOCAL_OCC_CNT,
		                  A.STD_DAY
		         ORDER BY RANK DESC)
	</select>

	<select id="selectCoronaData" resultType="HashMap">
		SELECT /* selectCoronaData as MainController */
			COUNT(1) AS COUNT
		  FROM TCORONA A
		 WHERE A.INSERT_DATE > TRUNC(SYSDATE)
	</select>

	<select id="selectDayCoronaCount" resultType="HashMap">
		SELECT TO_CHAR(A.INSERT_DATE, 'MM/DD') AS DAY,
		       (A.OVER_FLOW_CNT + A.LOCAL_OCC_CNT) AS DAY_CORONA,
		       0 AS DAY_MAX
		  FROM TCORONA A
		 WHERE A.CITY = '합계'
		   AND A.INSERT_DATE > TRUNC(SYSDATE) - 7

		UNION

		SELECT '0' AS DAY,
		       0 AS DAY_CORONA,
		       MAX(A.OVER_FLOW_CNT + A.LOCAL_OCC_CNT) AS DAY_MAX
		  FROM TCORONA A
		 WHERE A.CITY = '합계'
		   AND A.INSERT_DATE > TRUNC(SYSDATE) - 7

		 ORDER BY 1
	</select>

	<select id="selectDayCoronaCountMax" resultType="HashMap">
		SELECT
		       MAX(A.OVER_FLOW_CNT + A.LOCAL_OCC_CNT) AS DAY_MAX
		  FROM TCORONA A
		 WHERE A.CITY = '합계'
		   AND A.INSERT_DATE > TRUNC(SYSDATE) - 7
		  ORDER BY 1
	</select>

</mapper>