<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="main">

	<select id="selectList" parameterType="tuser" resultType="HashMap">
		SELECT /* selectList as MainController*/
			  USER_ID as userId,
			  USER_PWD as userPwd,
			  USER_NAME as userName,
			  USER_NO as userNo,
			  EMAIL as email,
			  USE_YN as useYn,
			  TO_CHAR(INSERT_DATE, 'yyyy') || '년 ' || TO_CHAR(INSERT_DATE, 'mm') || '월' ||
			  TO_CHAR(INSERT_DATE, 'dd') || '일 ' || TO_CHAR(INSERT_DATE, 'hh24') || '시' ||
			  TO_CHAR(INSERT_DATE, 'mi') || '분' as InsertDate,
			  MODIFY_DATE as modifyDate
		 FROM TUSER
	    WHERE USER_ID = #{userId, jdbcType=VARCHAR}
	      AND USER_PWD = #{userPwd, jdbcType=VARCHAR}
	</select>

	<insert id="saveSignupgo" parameterType="tuser">
		INSERT INTO TUSER  /* saveSignupgo as MainController */
		  (USER_NO,
		   USER_ID,
		   USER_PWD,
		   USER_NAME,
		   EMAIL,
		   INSERT_DATE,
		   MODIFY_DATE)
		VALUES
		  (RPAD(TO_CHAR(SYSDATE, 'yyyyMMdd'), 12, '0') || SEQ_USER_NO.NEXTVAL,
		   #{userId, jdbcType=VARCHAR},
		   #{userPwd, jdbcType=VARCHAR},
		   #{userName, jdbcType=VARCHAR},
		   #{email, jdbcType=VARCHAR},
		   SYSDATE,
		   SYSDATE)
	</insert>

	<select id="selectInventory" parameterType="String" resultType="HashMap">
		SELECT /* selectInventory as MainController */
		       A.USER_NO,
		       B.ITEM_NO,
		       B.ITEM_LEVEL,
		       C.ITEM_NAME,
		       C.ITEM_INFO,
		       C.ITEM_DMG,
		       C.ITEM_DEF,
		       B.DELETE_YN,
		       C.ITEM_IMAGE1,
		       C.ITEM_IMAGE2,
		       C.ITEM_IMAGE3,
		       C.ITEM_IMAGE4,
		       C.ITEM_IMAGE5,
		       B.ITEM_KEY
		  FROM TUSER A, TINVENTORY B, TITEM C
		 WHERE A.USER_NO = B.USER_NO
		   AND B.ITEM_NO = C.ITEM_NO
		   AND B.DELETE_YN = '0'
		   AND A.USER_NO = #{userNo, jdbcType=VARCHAR}
	</select>


	<update id="updateEnchant" parameterType="HashMap">
		UPDATE /* updateEnchant as MainController */
		       TINVENTORY A
		   SET A.ITEM_LEVEL = A.ITEM_LEVEL + 1
		 WHERE A.USER_NO = #{userNo, jdbcType=VARCHAR}
		   AND A.ITEM_KEY = #{itemKey, jdbcType=VARCHAR}
	</update>


	<insert id="insertCorona" parameterType="HashMap">
		INSERT INTO TCORONA /* insertCorona as MainController */
		  (CITY,
		   DEF_CNT,
		   INC_DEC,
		   DEATH_CNT,
		   ISOL_ING_CNT,
		   ISOL_CLEAR_CNT,
		   OVER_FLOW_CNT,
		   LOCAL_OCC_CNT,
		   STD_DAY,
		   INSERT_DATE,
		   MODIFY_DATE)
		VALUES
		  (#{city, jdbcType=VARCHAR},
		   #{defCnt, jdbcType=NUMERIC},
		   #{incDec, jdbcType=NUMERIC},
		   #{deathCnt, jdbcType=NUMERIC},
		   #{isolIngCnt, jdbcType=NUMERIC},
		   #{isolClearCnt, jdbcType=NUMERIC},
		   #{overFlowCnt, jdbcType=NUMERIC},
		   #{localOccCnt, jdbcType=NUMERIC},
		   #{stdDay, jdbcType=VARCHAR},
		   SYSDATE,
		   SYSDATE)
	</insert>

	<select id="selectCorona" resultType="HashMap">
		SELECT A.CITY,
		       A.DEF_CNT,
		       A.INC_DEC,
		       A.DEATH_CNT,
		       A.ISOL_ING_CNT,
		       A.ISOL_CLEAR_CNT,
		       A.OVER_FLOW_CNT,
		       A.LOCAL_OCC_CNT,
		       A.STD_DAY
		  FROM TCORONA A
         WHERE TO_CHAR(A.INSERT_DATE, 'yyyymmddhh24mi') = (SELECT TO_CHAR(MAX(B.INSERT_DATE), 'yyyymmddhh24mi') FROM TCORONA B)
	</select>

</mapper>